body,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container{
margin: 0 auto;
}

#menu{
    background: #3498db;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    font-size: 0;
    box-shadow:0 1px 4px rgba(0,0,0,.04);
}
.tabs{
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    color: #ccc;
    margin: 0;
    padding: 0 5px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: 0 20px;
    text-transform: capitalize;
    box-sizing: border-box;

}
.selected{
    color: #fff;
    border-bottom: 4px solid #fff;

}
.icon{
    font-size: 18px;
}
#contacts{
    width: 100%;
    margin-top: 50px;
}

.contact{
    height: 40px;
    font-size: 17px;
    padding: 10px;
    transition: background 0.5s ease;
}
.contact:active{
    background: #ccc;
}
.avatar{
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    color: #eee;
}
.fullName{
line-height: 40px;
}

#overlay{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(44, 62, 80,0.4);
    display: none;
}
#notification{
    display: none;
    padding: 10px 20px;
    background: #fff;
    z-index: 2;
    color: #555;
    font-size: 13px;
    position: fixed;
    top: 50%;
    border-radius: 3px;
    box-shadow:0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);border:0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#popOver{
    position: fixed;
    display: none;
    z-index: 3;
    bottom: 0;
    width: 100%;

}
#popOverBg{
    background: rgba(26, 188, 156,1.0);
    height: 100px;
    width: 100%;
    display: inline-block;
}

#popOverName{
    vertical-align: bottom;
    font-size: 25px;
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
}
.popOverContainer{
    padding: 20px 10px;
    background: #fff;

}
#popOverNumber{
    margin: 5px 0;
    font-size: 20px;
    color: #444;
}
#popOverButton{
    margin: 22px auto;
    width: 50%;
    max-width: 200px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    box-shadow:0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;border:0; 
    background: rgba(52, 152, 219,1.0);
    color: #fff;
    transition: background 0.5s ease;

}
#popOverButton:active{
    background: rgba(41, 128, 185,1.0);
}

.historyname{
    font-size: 18px;
    line-height: 21px;

}
.historyContact{
    padding: 8px 5px;
    border : 1px solid #ccc;
    border-left-color: transparent;
    border-right-color: transparent;
}