#titleSms{
    background: #3498db;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    font-size: 0;
    box-shadow:0 1px 4px rgba(0,0,0,.04);
    color: #fff;
    padding: 5px 10px 5px 70px;
}

#titleName{
    font-size: 20px;
    line-height: 25px;
}
#titleNumber{
    font-size: 13px;
}
#smsHistory{
    margin-top: 70px;
}

#personSmsHistory{
    margin-top: 70px;

}

.singleSms{
    float: right;
    clear: both;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 5px 10px;
    min-width: 100px;
    text-align: left;
    background: rgba(46, 204, 113,1.0);
    border-radius: 3px;
    color: #fff;
}
.smsText{
    font-size: 15px;
}
.smsStamp{
    font-size: 11px;
}
.smsArea{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#textArea{
    width: 90%;
    box-sizing: border-box;
    border:1px solid #444;
    border-radius: 1px;
    padding: 2px;
        font-family: 'Roboto', sans-serif;
font-size: 15px;
line-height: 20px;
vertical-align: bottom;
border-radius: 5px;
height: 40px;

}

#textArea:disabled{
    background-color: #fff;
} 
#sendbutton{
    border-radius: 5px;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    width: 9%;
    box-sizing: border-box;
    text-align: center;
    border:1px solid rgba(46, 204, 113,1.0);
    display: inline-block;
    padding: 2px;
    background: rgba(46, 204, 113,1.0);
    color: #fff;
}
#closeSms{
    float: right;
    padding: 10px;
    /* background: red; */
    color: #fff;
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    color: #fff;
}
